#loader
{
	background-color: #000;
	background-image: url('../img/static/elegant-loader.gif');
	background-position: center;
	background-repeat: no-repeat;
	filter: alpha(opacity=40);
	height: 100%;
	width: 100%;
	top: 0px;
	right: 0px;
	position: fixed;
	opacity: 0.4;
	z-index: 10000000;
}

#loader > p {
  position: absolute;
  text-align: center;
  top: 54%;
  width: 100%;
  color: white;
}

.tab-content .tab-pane {    
    position: relative;
    /* padding: 20px 10px;
    border: 1px solid #CCC;
    border-radius: 6px; */
}

.content-wrapper > .row {
	/*padding-top: 70px;*/
} 

.tool-options a {
	font-size: 20px;
}

.nav a:focus {
	 outline: none; 
}

.tools .btn,.tools .btn:focus  {
	border: none;
	outline: none; 
}

.color-selector {
	border: 1px solid #CCC;
	cursor: pointer;
}

.color-preview {
	background-image: url("../img/static/rainbow.png");
	height: 24px;
	width: 70px;
}

/*.color-options {
	border: 1px solid #CCC;
	border-radius: 6px;
	float: left;
	width: 100%;
}

.color-options > div {
	height: 30px;
	border: 1px solid #CCC;
	margin: 5px;
	border-radius: 6px;
	cursor: pointer;
}*/

.font-icons {
	font-size: 40px;
}

.stage > img {
	width: 100%;
	height: auto;
}


#text-font-fill, #image-fill {
	position: absolute;
	margin: 10px 0;
	z-index: 3;
}

/* Image Tab - Start */


.display-gallery{
	max-height: 220px;
	overflow: auto;
	z-index: 2;
	background: #ffffff
}


.display-gallery > .col-xs-3, .display-gallery img{
	padding: 0px !important;
	cursor: pointer;
}

.display-gallery .well {
	cursor: pointer;
}
/* Image Tab - End */

.preview-images img {
	cursor: pointer;
	margin-bottom: 5px;
}

.saved-products img {
	cursor: pointer;
}
.saved-products > div {
	padding: 0px !important;
	cursor: pointer;
}

.ion-1-half {
	font-size: 1.5em;
}

.ion-2x {
	font-size: 2em;
}


/* Override Bootstrap - Start */
* {
	border-radius: 0 !important;
}

body { 
	overflow-x: hidden;
	height:100vh;
}

.img-thumbnail {
	border: none !important;
}

.custom-pane-header {
	font-family: Trebuchet MS !important;
	margin-top: 0px !important;
}

#text-properties .btn {
	padding: 6px 0 !important;
}

.well-sm {
	padding: 0px !important;
}
/* Override Bootstrap - End */

#mCSB_1_scrollbar_vertical {
	z-index: 100;
}
.top3 { margin-top:3%; }
.top5 { margin-top:5%; }
.top7 { margin-top:7%; }
.top10 { margin-top:10%; }
.top15 { margin-top:15%; }
.top17 { margin-top:17%; }
.top30 { margin-top:30%; }

.total_price_col {
  border-top: 1px solid #ddd;
}