@media screen and (max-width: 767px) {
	.preview-images img {
		width: 70px;
	}
	.content-wrapper > .row {
		padding-top: 55px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
	.preview-images img {
		width: 60px;
	}

	.display-gallery{
		height: 212px;
	}

	h3, .h3 {
	    font-size: 18px  !important;
	}

	/* Bootstrap Overwrite - Begin */
	.btn-lg, select {
		height: 30px !important;
		font-size: 15px !important;
		padding: 5px 15px !important;
	}
	
	.color-preview {
		height: 18px !important;
	}

	td {
		padding: 4px !important; 
	}

	/* Bootstrap Overwrite - End */
}

@media screen and (min-width: 1280px){
	.preview-images img {
		width: 90px;
	}
}